@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap" rel="stylesheet"');

body {
    font-family: 'Teko', sans-serif;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
   
}

main{
    background: linear-gradient(45deg ,rgba(128, 0, 128, 0.7), rgb(0, 255, 157, 0.7), rgb(255, 0, 242, 0.7));
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

.login_header img {
    width: 350px;
    padding: 0;
}

.login_header {
    font-size: 2em;
    font-weight: bold;
    color: rgb(60, 0, 75);
}

.login-input {
    background: linear-gradient(45deg, rgb(143, 179, 196), rgb(0, 153, 255), rgb(255, 0, 242));
    color:rgb(60, 0, 75);
    font-size: 18px;
    margin: 15px;
    max-width: 280px;
    outline: none;
    width: 100%;
    font-style: italic;
    text-transform: uppercase;
}

.login-button {
    margin: 1em;
    padding: 8px 50px;
    background: linear-gradient(45deg ,purple, rgb(0, 255, 157), rgb(255, 0, 242));
}

.login-button:disabled{
    background: linear-gradient(45deg ,rgb(65, 56, 170), rgb(43, 56, 51), rgb(177, 57, 171)); ;
    color: rgb(168, 107, 107);
    cursor: auto;
    border: solid 2px black;
}